//--------------------------------------------
//			PATRON DE COLORES
//--------------------------------------------
//Varibles declaradas en SASS

$texto:black;
$fondoBody:#C18C65;
$fondoBloc:#F8C634;

body{
	/* Ubicación de la imagen */
	background-image: url("../images/fondo1.jpg");
	/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
	background-position: center center;
	/* Para que la imagen de fondo no se repita */
	background-repeat: no-repeat;
	/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
	background-attachment: fixed;
	/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
	background-size: cover;
	/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
	background-color: $fondoBody;	
}

h1{
	font-family: "sans-serif";
	text-align: center;
}
.main{
	display: flex;
	position:relative;
	margin:0 auto;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
.boxMain {
    /*min-height: 30%;*/
    background: $fondoBloc;
    border-radius: 1rem;
    border-style: solid;
	border-width: 2.3px;
	width: 65%;
    margin:2% auto 7% auto; 
}
/*@media (max-width:1440px){
    .boxMain {
    width:70%;
    margin: 1% auto 6% auto;
    }
}
@media (max-width:1366px){
    .boxMain {
    width: 72%;
    margin: 1% auto 6% auto;
    }
}
@media (max-width:768px){
     .boxMain  {
      margin: 1% auto 0;
      width: 90%;
    }
}
@media (max-width:667px){                                  
    .boxMain {
    margin: 10% auto 0;
    width: 93%;
    }
}

@media (max-width:640px){                                  
    .boxMain {
    margin: 10% auto 0;
    width: 90%;
    }
}

@media (max-width:320px){                                  
    .boxMain  {
        margin:1% auto 0;
        width: 97%;
    }         
}*/

div#margenSearch{
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.boderNotas{
	border-top-style: solid;
	border-top-width: 1px;
	margin: 1rem 1rem 1rem 1rem;
/*	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;*/
}
/*Evita que el texto se salga de un div y que se le agregue el guión*/
#contenedorTexto {
	width: 100%;
    /*background: red;*/
    /*word-wrap: break-word;*/
	word-break: break-all;
     hyphens: auto;
}